{
    "extends": "rallycoding",
    "rules": {
        "no-mixed-operators": "off",
        "no-underscore-dangle": [2, {
            "allowAfterThis": true
        }],
        "max-len": [
            "error",
            {
                "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\(",
                "ignoreComments": true,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreRegExpLiterals": true
            }
        ]
    }
}